Load Dataset

In [46]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"C:\Users\Sami\OneDrive\Desktop\Data Sets\dirty_cafe_sales.csv")
print(df.head())

  Transaction ID    Item Quantity Price Per Unit Total Spent  Payment Method  \
0    TXN_1961373  Coffee        2            2.0         4.0     Credit Card
1    TXN_4977031    Cake        4            3.0        12.0            Cash
2    TXN_4271903  Cookie        4            1.0       ERROR     Credit Card
3    TXN_7034554   Salad        2            5.0        10.0         UNKNOWN
4    TXN_3160411  Coffee        2            2.0         4.0  Digital Wallet

   Location Transaction Date
0  Takeaway       2023-09-08
1  In-store       2023-05-16
2  In-store       2023-07-19
3   UNKNOWN       2023-04-27
4  In-store       2023-06-11

In [17]:
print(df.tail())

     Transaction ID      Item Quantity Price Per Unit Total Spent  \
9995    TXN_7672686    Coffee        2            2.0         4.0
9996    TXN_9659401       NaN        3            NaN         3.0
9997    TXN_5255387    Coffee        4            2.0         8.0
9998    TXN_7695629    Cookie        3            NaN         3.0
9999    TXN_6170729  Sandwich        3            4.0        12.0

      Payment Method  Location Transaction Date
9995             NaN   UNKNOWN       2023-08-30
9996  Digital Wallet       NaN       2023-06-02
9997  Digital Wallet       NaN       2023-03-02
9998  Digital Wallet       NaN       2023-12-02
9999            Cash  In-store       2023-11-07

In [19]:
print("rows",df.shape[0])
print("columns",df.shape[1])

rows 10000
columns 8

In [20]:
print(df.isnull().sum())

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [47]:
df["Price Per Unit"] = pd.to_numeric(df["Price Per Unit"], errors='coerce')
df["Price Per Unit"] = df["Price Per Unit"].fillna(df["Price Per Unit"].mean())

df["Quantity"] = pd.to_numeric(df["Quantity"], errors='coerce')
df["Quantity"] = df["Quantity"].fillna(df["Quantity"].mean())

df["Total Spent"] = pd.to_numeric(df["Total Spent"], errors='coerce')
df["Total Spent"] = df["Total Spent"].fillna(df["Total Spent"].mean())

In [50]:
df['Item'].fillna(df['Item'].mode()[0], inplace=True)
df['Payment Method'].fillna(df['Payment Method'].mode()[0], inplace=True)
df['Location'].fillna(df['Location'].mode()[0], inplace=True)
df['Transaction Date'].fillna(df['Transaction Date'].mode()[0], inplace=True)

In [51]:
print(df.isnull().sum())

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [44]:
df.dtypes

Transaction ID       object
Item                 object
Quantity            float64
Price Per Unit      float64
Total Spent         float64
Payment Method       object
Location             object
Transaction Date     object
dtype: object

Data Pre-Processing

In [54]:
df.fillna(0)    
df.dropna()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.000000,4.000000,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.000000,12.000000,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.000000,8.924352,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.000000,10.000000,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.000000,4.000000,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.000000,4.000000,Digital Wallet,UNKNOWN,2023-08-30
9996,TXN_9659401,Juice,3.0,2.949984,3.000000,Digital Wallet,Takeaway,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.000000,8.000000,Digital Wallet,Takeaway,2023-03-02
9998,TXN_7695629,Cookie,3.0,2.949984,3.000000,Digital Wallet,Takeaway,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.000000,12.000000,Cash,In-store,2023-11-07

In [64]:
df.drop_duplicates(inplace=True)
print(df)

      Transaction ID      Item  Quantity  Price Per Unit  Total Spent  \
0            1961373    Coffee         2        2.000000     4.000000
1            4977031      Cake         4        3.000000    12.000000
2            4271903    Cookie         4        1.000000     8.924352
3            7034554     Salad         2        5.000000    10.000000
4            3160411    Coffee         2        2.000000     4.000000
...              ...       ...       ...             ...          ...
9995         7672686    Coffee         2        2.000000     4.000000
9996         9659401     Juice         3        2.949984     3.000000
9997         5255387    Coffee         4        2.000000     8.000000
9998         7695629    Cookie         3        2.949984     3.000000
9999         6170729  Sandwich         3        4.000000    12.000000

      Payment Method  Location Transaction Date
0        Credit Card  Takeaway       2023-09-08
1               Cash  In-store       2023-05-16
2        Credit Card  In-store       2023-07-19
3            UNKNOWN   UNKNOWN       2023-04-27
4     Digital Wallet  In-store       2023-06-11
...              ...       ...              ...
9995  Digital Wallet   UNKNOWN       2023-08-30
9996  Digital Wallet  Takeaway       2023-06-02
9997  Digital Wallet  Takeaway       2023-03-02
9998  Digital Wallet  Takeaway       2023-12-02
9999            Cash  In-store       2023-11-07

[9540 rows x 8 columns]

In [60]:
# Convert numeric columns
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')

df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

df['Transaction ID'] = df['Transaction ID'].str.replace('TXN_', '', regex=False)
df['Transaction ID'] = pd.to_numeric(df['Transaction ID'], errors='coerce')

df.dropna(subset=['Transaction ID', 'Quantity', 'Price Per Unit', 'Total Spent', 'Transaction Date'], inplace=True)
print(df.dtypes)

print(df.head())

Transaction ID               int64
Item                        object
Quantity                     int32
Price Per Unit             float64
Total Spent                float64
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
dtype: object
   Transaction ID    Item  Quantity  Price Per Unit  Total Spent  \
0         1961373  Coffee         2             2.0     4.000000
1         4977031    Cake         4             3.0    12.000000
2         4271903  Cookie         4             1.0     8.924352
3         7034554   Salad         2             5.0    10.000000
4         3160411  Coffee         2             2.0     4.000000

   Payment Method  Location Transaction Date
0     Credit Card  Takeaway       2023-09-08
1            Cash  In-store       2023-05-16
2     Credit Card  In-store       2023-07-19
3         UNKNOWN   UNKNOWN       2023-04-27
4  Digital Wallet  In-store       2023-06-11

In [62]:
df.to_csv(r'C:\Users\Sami\OneDrive\Desktop\Data Sets\cleaned_cafe_sales.csv', index=False)

In [65]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# === 1. Feature Selection ===
# Drop non-numeric or non-useful columns for prediction
X = df[['Quantity', 'Price Per Unit']]  # Features
y = df['Total Spent']  # Target variable

# === 2. Train-Test Split ===
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# === 3. Choose and Train Model ===
model = LinearRegression()
model.fit(X_train, y_train)

# === 4. Make Predictions ===
y_pred = model.predict(X_test)

# === 5. Evaluation ===
print("\nModel Evaluation:")
print("Mean Absolute Error (MAE):", mean_absolute_error(y_test, y_pred))
print("Mean Squared Error (MSE):", mean_squared_error(y_test, y_pred))
print("R-squared (R2):", r2_score(y_test, y_pred))

Model Evaluation:
Mean Absolute Error (MAE): 1.660583087447134
Mean Squared Error (MSE): 5.80507929830371
R-squared (R2): 0.8298756749655132